@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    133.99deg,
    #092537 -7.04%,
    #0067ad -7.04%,
    #0061a2 -7.04%,
    #005b99 -7.04%,
    #005792 -7.04%,
    #003c65 13.92%,
    #000000 100%
  );
  background-repeat: no-repeat;
  background-attachment:fixed;
  font-family: "Open Sans", sans-serif;
  height: fit-content
}

:root {
  --red-circle: rgba(197, 101, 113, 0.7);
  --violet-circle: #5c45ff;
  --backdrop-border-radius: 21px;
  --pH-heading-color:#0097FD;
  --button-light-background-color: #0097FD54;
  --input-button-border-radius: 19px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  body {
    background-attachment: unset;
  }
}

a {
  text-decoration: none;
}
