.Profile_container {
  margin-top: 70px;
}

.Activities__nav--section {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  height: fit-content;
  margin-top: 20px;
}

.Activities__nav--section h2 {
  font-weight: bolder;
  font-size: 1.9rem;
  color: var(--pH-heading-color);
  margin: auto 0;
}

.Activities__navigation {
  margin: 0 auto;
  width: fit-content;
  display: grid;
  grid-gap: 10px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 6px 6px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgba(53, 162, 252, 0.34);
  border-radius: 100px;
  text-align: center;
  color: white;
}

.Activities__navigation-activities {
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  transition: 100ms ease-in-out;
  background-color: #116096;
}

.Activities__navigation-mypapers {
  background: #0097fd;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  transition: 100ms ease-in-out;
}
.Activities__navigation-mypapers,
.Activities__navigation-activities {
  font-size: 0.9em;
  font-family: "Open Sans";
  font-weight: 500;
}
.Activities__person--proflie {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  margin-left: auto;
  grid-gap: 20px;
}

.Activities__person--proflie {
  color: white;
  width: 90%;
}

.Activities__person--proflie p {
  font-weight: 500;
  font-size: 1em;
  padding: 12px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  background-color: rgba(53, 162, 252, 0.34);
  margin: auto;
  border-radius: 27px;
}

.Activities__person--proflie img {
  border-radius: 100px;
  width: 50px;
}

.Activities__nav--section-mob {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .Activities__nav--section-mob {
    display: grid;
    grid-gap: 20px;
    max-width: 100vw;
    margin-top: 20px;
  }

  .Activities__nav--section-mob h2 {
    color: var(--pH-heading-color);
    font-size: 2rem;
  }

  .Activities__person--proflie {
    margin: 0;
    width: auto;
  }

  .Activities__navigation {
    width: 100%;
  }

  .Activities__nav--section {
    display: none;
  }

  .Activities__navigation-mypapers,
  .Activities__navigation-activities {
    padding: 10px 15px;
  }
  .Activities__navigation-mypapers,
  .Activities__navigation-activities {
    font-size: 0.8em;
  }
  .Activities__person--proflie p {
    font-size: 0.9em;
  }
  .Activities__person--proflie img {
    height: 39px;
    width: 39px;
    justify-self: end;
  }
}

/** IPad **/
@media all and (device-width: 768px) and (device-height: 1024px) {
  .mypapers_papers {
    grid-template-columns: repeat(auto-fit, 350px);
  }
  .paper_card {
    width: 100%;
  }
}
