.Activities__container {
  display: grid;
}

.Activities__main--section {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.Activities__main--card {
  display: grid;
  max-width: 800px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: fit-content;
  border: 1px solid #0097fd;
  border-radius: 10px;
  height: fit-content;
  padding: 9px 5px;
}

.Activities__main--card img {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
}

.Activities__main--section--info {
  display: grid;
  color: white;
}

.Activities__main--section--info h5 {
  font-size: 1.1em;
  font-weight: 600;
}

.Activities__main--section--transaction--info {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.Activities__main--address {
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: 30px;
  padding: 10px 10px 0px 0px;
  align-items: center;
  grid-gap: 10px;
}

.Activities__main--address p {
  font-size: 1em;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Activities__main--section--info p {
  font-size: 1em;
  font-weight: 400;
}
.Activities__main--address img {
  width: 25px;
  height: 25px;
  margin: 0;
}

.Activities__nav--section-mob {
  display: none;
}

#fundAmount {
  padding-top: 10px;
  font-size: 0.8rem;
  float: right;
  text-align: center;
  margin-right: 10px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .Activities__main--section {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .Activities__main--card {
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .Activities__main--card img {
    width: 55px;
    height: 55px;
  }

  .Activities-title {
    max-width: 240px;
  }
  .Activities-title h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .Activities__main--section--info h5 {
    font-size: 1em;
  }

  .Activities__person--proflie {
    margin: 0;
    width: auto;
  }

  .Activities__nav--section {
    display: none;
  }

  .Activities__nav--section-mob {
    display: grid;
    grid-gap: 20px;
    max-width: 100vw;
    margin-top: 20px;
  }

  .Activities__main--address {
    grid-template-columns: 30px auto;
  }

  .Activities__main--address p {
    font-size: 0.9rem;
  }
  .Activities__main--address img {
    width: 30px;
    height: 30px;
  }
  .Activities__nav--section-mob h2 {
    color: var(--pH-heading-color);
  }

  #fundAmount {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 360px) {
  .Activities__main--section--info h5 {
    font-size: 0.7em;
  }

  .Activities__main--section--transaction--info p {
    font-size: 0.8em;
  }

  .Activities__main--card img {
    width: 40px;
    height: 40px;
  }
  .Activities__main--address img {
    width: 30px;
    height: 30px;
  }

  .Activities-title {
    max-width: 180px;
  }
  .Activities-title h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #fundAmount {
    font-size: 0.7rem;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) {
  .Activities__navigation {
    width: 100%;
  }
  .Activities__main--section {
    width: 100%;
  }
  .Activities-title {
    max-width: 240px;
  }
  .Activities-title h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) {
}

@media only screen and (max-width: 280px) {
  .Activities__navigation {
    width: 100%;
  }
  .Activities__main--section {
    width: 100%;
  }
  .Activities__navigation-mypapers {
    font-size: 0.8em;
  }
  .Activities__navigation-activities {
    font-size: 0.8em;
  }
  .Activities__main--section--transaction--info p {
    font-size: 0.7em;
  }
}
