.paper_container {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: row;
  margin-top: 65px;
}
.paper_pdf {
  position: relative;
  height: 100%;
  width: 65%;
  text-align: center;
  padding: 20px 20px 0px 0px;
  border-right: 1.5px solid rgba(0, 151, 253, 0.3);
}
.embeded_pdf {
  border-radius: 5px;
  border: none;
}

.paper_share {
  position: absolute;
  padding: 5px 15px;
  background-color: white;
  border-radius: 100px;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}
.paper_share h3 {
  font-family: "Open Sans";
  font-size: 0.95em;
  font-weight: 400;
  margin-left: 5px;
  color: black;
}
.paper_share {
  color: black;
  z-index: 10;
}
#adobe-dc-view {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 9;
}
.pdf_loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Paper details section */
.paper_info {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paper_details {
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.paper_title h3 {
  color: white;
  font-weight: 600;
  font-size: 1.25em;
}
.paper_publisher {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.paper_publisher h3 {
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  margin-right: 5px;
}
.paper_description {
  margin-top: 10px;
  color: white;
  font-weight: 400;
  font-size: 0.9em;
}
.paper_authors_section h3 {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}
.paper_authors_section p {
  color: white;
  font-weight: 400;
  font-size: 1em;
}
.paper_view {
  margin-top: 10px;
}
.paper_view button {
  outline: none;
  border: none;
  background-color: #0097fd;
  padding: 10px 15px;
  border-radius: 100px;
  color: white;
  font-size: 1em;
  font-weight: 400;
  margin: 5px;
  width: fit-content;
  cursor: pointer;
}
/* funders section */
.paper_funders_title h3 {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}
.paper_funder {
  margin-top: 5px;
  display: flex;
  width: 100%;
  padding: 10px;
  border: 1px solid #0097fd;
  border-radius: 12px;
  align-items: center;
  color: white;
  font-size: 14.4px;
}

.paper_funder-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: 500;
  font-size: 1em;
}

.paper_funder img {
  max-width: 40px;
  margin-right: 7px;
  border-radius: 100px;
}
.paper_funder h2 {
  color: white;
  font-weight: 400;
  font-size: 1em;
}
.paper_nofunding {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.paper_nofunding h3 {
  color: white;
  font-weight: 600;
  font-size: 0.9em;
  padding: 15px;
  border: 1px solid #0097fd;
  border-radius: 10px;
  width: fit-content;
}
/* fund section */
.paper_fund {
  width: 90%;
  height: fit-content;
  background: #01426e;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.paper_fund_info {
  display: flex;
  justify-content: space-between;
}
.paper_fund_info h3 {
  color: #35a2fc;
  font-weight: 400;
}
.paper_fund_info h5 {
  color: #35a2fc;
  font-weight: 400;
  margin-bottom: 5px;
}

.paper_fund_info h3 p {
  display: inline;
  font-size: 0.7em;
}
.paper_fund_bar {
  position: relative;
}
.paper_fund_bar_bg,
.paper_fund_bar_current {
  height: 15px;
  width: 100%;
  background-color: #346f96;
  border-radius: 100px;
  position: absolute;
}
.paper_fund_bar_current {
  width: 50%;
  background: linear-gradient(
    270deg,
    #011a2b -16.79%,
    #015086 58.15%,
    #0097fd 110.55%
  );
}
.paper_fund_bar h3 {
  margin-top: 15px;
  color: #35a2fc;
  font-size: 0.95em;
  font-weight: 400;
}
.paper_fund button {
  width: fit-content;
  outline: none;
  background-color: #0097fd;
  border: none;
  color: white;
  border-radius: 100px;
  padding: 10px 30px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1em;
  align-self: center;
  cursor: pointer;
}
.paper_fund button:disabled {
  cursor: default;
  opacity: 0.5;
}
.paper_fund button:disabled:hover {
  cursor: default;
  opacity: 0.5;
}
.paper_fund button:hover,
.paper_view button:hover {
  opacity: 0.9;
}
/* address button */
.address-btn {
  display: flex;
  border-radius: 100px;
  background-color: #0097fd;
  outline: none;
  border: none;
  width: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
  cursor: pointer;
}
.address-btn_add {
  margin: 0;
  color: white;
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-btn img {
  width: 20px;
  margin-right: 5px;
  border-radius: 100px;
}

.paper_funding_popup_container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper_funding_popup_box {
  height: fit-content;
  width: 400px;
  background-color: #011a2b;
  border-radius: 15px;
  border: 2px solid #0097fd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.paper_funding_popup_box_heading h3 {
  font-family: "Open Sans";
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}
.paper_funding_popup_box_input_balanceinfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.paper_funding_popup_box_input_balanceinfo h3 {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 0.9em;
  font-weight: 500;
  color: white;
}
.paper_funding_popup_box_input_box {
  width: 100%;
  height: 75px;
  border: 1px solid rgba(0, 151, 253, 1);
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
  box-shadow: none;
}
.paper_funding_popup_box_input_box:hover {
  box-shadow: 0px 0px 10px rgba(0, 151, 253, 0.5);
}
.paper_funding_popup_box_input_box input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: "Open Sans";

  font-size: 1.3em;
  font-weight: 400;
  color: #0097fd;
}
.paper_funding_popup_box_input_box input::placeholder {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 151, 253, 0.5);
}

/* .paper_funding_popup_box_input_box
  input:focus
  + .paper_funding_popup_box_input_box {
  box-shadow: 0px 0px 10px rgba(0, 151, 253, 0.5) !important;
} */
.popup_input_row {
  display: flex;
  justify-content: space-between;
}
.paper_funding_popup_box_input_box h3 {
  font-family: "Open Sans";
  font-size: 0.9em;
  font-weight: 600;
  color: #0097fd;
}
.paper_funding_popup_box_buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper_funding_popup_box_buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #0097fd;
  font-family: "Open Sans";
  font-size: 1.1em;
  font-weight: 400;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper_funding_popup_box_buttons button:active {
  transform: scale(0.95);
}
.paper_funding_popup_box_buttons button:hover {
  background-color: rgba(0, 151, 253, 0.8);
}
.paper_funding_popup_box_buttons button:nth-child(2) {
  background-color: transparent;
}
.paper_funding_popup_box_buttons button:nth-child(2):hover {
  color: #0097fd;
}
.paper_popup_fund {
  margin-right: 10px;
}
.paper_funding_popup_box_buttons button:disabled {
  cursor: default;
  background-color: rgba(0, 151, 253, 0.3);
  color: rgba(255, 255, 255, 0.3);
}
.paper_funding_popup_box_input p{
  float: left;
  font-size: .8em;
  font-weight: 500;
  color:rgba(255,148,148);
  margin-top: 5px;
}
/* Tablet and below */
@media screen and (max-width: 768px) {
  .paper_share {
    top: 5px;
    left: -5px;
  }
  .paper_container {
    flex-direction: column;
    height: 100%;
  }
  .paper_pdf {
    height: 60vh;
    width: 100%;
    border: none;
    padding: 5px;
    padding-top: 20px;
  }
  .paper_info {
    width: 100%;
    height: fit-content;
  }
  .paper_details {
    height: fit-content;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 165px;
  }
  .paper_fund {
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    animation: popUpfund 0.15s linear;
    z-index: 10;
  }
  .paper_fund_none {
    display: none;
  }
  .paper_funder h3 {
    font-size: 0.75em;
  }

  .paper_funder h2 {
    font-size: 0.7em;
  }
  .paper_funding_popup_container {
    z-index: 11;
  }
}
@media screen and (max-width: 425px) {
  .paper_funding_popup_box {
    width: 90%;
  }
}

@keyframes popUpfund {
  0% {
    transform: translateY(100px);
  }
  20% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(50px);
  }
  70% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popDownfund {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(50px);
  }
  70% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(100px);
  }
}
