.Publish__container {
  z-index: 3;
  padding-top: 15px;
  position: relative;
  scroll-behavior: smooth;
  margin-top: 65px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

#pCircle {
  position: absolute;
  z-index: 0;
  filter: blur(50px);
}

.circle1-red {
  right: 4%;
}

.circle1-violet {
  right: 4%;
  top: 15%;
}

.circle2-red {
  bottom: 8%;
  left: 2%;
}

.circle2-violet {
  bottom: 2%;
  left: 4%;
}

.Publish__form-circle-red {
  background: var(--red-circle);
  box-shadow: 0px 4px 100px 0px #c56571;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.Publish__form-circle-violet {
  background: var(--violet-circle);
  box-shadow: 0px 4px 100px #6c63ff;
  border-radius: 50%;
  width: 159px;
  height: 159px;
}

.Publish__form-backdrop {
  height: fit-content;
  min-height: 850px;
  background: rgb(0 0 0 / 32%);
  box-shadow: -15px -15px 34px rgb(0 0 0 / 24%);
  backdrop-filter: blur(30px);
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: var(--backdrop-border-radius);
}

#publish-heading {
  text-align: center;
  color: var(--pH-heading-color);
}

.Publish__form {
  /* display: flex; */

  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top: 30px;
  min-height: 80vh;
  height: fit-content;
}

.Publish__form--upload {
  /* max-width: 50%; */
  /* width: 50%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-right: 90px; */
}

#Publish__file--upload {
  border-radius: var(--backdrop-border-radius);
  border: 1px dashed #0097fd;
  color: var(--pH-heading-color);
  text-align: center;
}

.Publish__form--upload-pdf {
  padding: 50px 30px;
  width: 70%;
  min-width: 324px;
  line-height: 30px;
}

.Publish__form--upload-pdf h2 {
  font-weight: bolder;
  font-size: 1.5rem;
}

.Publish__form--upload-pdf p {
  font-size: 1rem;
  font-weight: 500;
}

.Publish__form--upload-thumbnail {
  padding: 50px 30px;
  width: 70%;
  min-width: 324px;
  margin-top: 25px;
  line-height: 30px;
}

.Publish__form--upload-thumbnail h2 {
  font-weight: bolder;
  font-size: 1.5rem;
}

.Publish__form--upload-thumbnail p {
  font-size: 1rem;
  font-weight: 500;
}

.Publish__form--upload-chooseFile {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--button-light-background-color);
  border-radius: 48px;
}

.Publish__form--upload-chooseFile {
  margin-top: 20px;
}

.Publish__form--upload-chooseFile p {
  padding: 13px 35px;
  width: 100%;
}

.Publish__form--upload-chooseFile p label {
  text-decoration: underline;
}

.Publish__form--upload-chooseFile label {
  cursor: pointer;
}

.Publish__form--upload-preview {
  width: 70%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  min-width: 324px;
}

.Publish__form--upload-preview-content {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 10px;
  border-radius: var(--backdrop-border-radius);
  border: 1px dashed #0097fd;
  color: var(--pH-heading-color);
  font-size: 80%;
  width: 100%;
  max-height: 150px;
}

#Publish__form--upload-preview-thumbnail {
  margin-top: 25px;
}

.preview-info {
  height: fit-content;
  width: 80%;
}

.preview-info--ipfs-link {
  height: fit-content;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#upload__extension {
  width: fit-content;
  align-self: flex-end;
  background-color: red;
  font-size: 80%;
  border-radius: 48px;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

#upload__extension-png {
  width: fit-content;
  align-self: flex-end;
  background-color: #00c17f;
  font-size: 80%;
  border-radius: 48px;
  padding: 7px 15px;
  color: white;
  font-weight: bold;
}

.preview-info--ipfs-link a {
  padding: 7px 15px;
  background-color: var(--button-light-background-color);
  border-radius: 48px;
  font-size: 80%;
  color: white;
  font-weight: 500;
}

.Publish__form--upload-preview-content img {
  width: 100%;
  max-width: 100px;
  max-height: 120px;
  min-height: 90px;
  height: 100%;
  padding: 10px;
  border: 1px solid #0b4879;
  box-sizing: border-box;
  border-radius: 5px;
}

.preview-info p {
  font-weight: 500;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
}

.Publish__form--input-boxes {
  /* width: 50%; */
  width: 100%;
  flex-basis: 50%;
  display: grid;
  /* grid-template-rows: 98px 98px 200px 98px auto auto auto auto; */
  grid-template-rows: auto auto 200px auto auto auto auto auto 1fr;
  grid-gap: 30px;
}

.Publish__form--input-boxes h2 {
  color: var(--pH-heading-color);
}

.Publish__form--input-boxes input {
  background-color: transparent;
  border: none;
  background: rgba(0, 151, 253, 0.31);
  width: 80%;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 10px;
  color: #0097fd;
  font-size: 0.9rem;
}

.Publish__form--input-boxes input:focus,
textarea:focus {
  outline: none;
  color: #0097fd;
}

.Publish__form--input-title {
  min-height: fit-content;
  height: 100%;
}

.Publish__form--input--description textarea {
  height: max-content;
  height: calc(100% - 33px - 10px);
  background-color: transparent;
  border: none;
  background: rgba(0, 151, 253, 0.31);
  width: 80%;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 10px;
  resize: none;
  font-size: 0.9rem;
  font-weight: 400;
}
.Publish__form--input--description textarea::placeholder,
.Publish__form--input-boxes input::placeholder,
.Publish__form--input-boxes input {
  color: #0097fd;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: start;
}
.basic-multi-select {
  width: 80%;
  margin-top: 10px;
}

.Publish__form--input--funding-toogle {
  display: flex;
  align-items: center;
  width: 80%;
}

.Publish__form--input--funding-toogle h2,
.Publish__form--input--funding-amount h2 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
}

.Publish__form--input--funding-toogle input {
  margin-top: 0px;
  width: fit-content;
}

.Publish__form--input--funding-amount {
  display: flex;
  align-items: center;
  width: 80%;
}

.Publish__form--input--funding-amount input {
  margin-top: 0px;
  height: 30px;
  max-width: 50%;
  width: 20%;
}

.Publish__form--input--funding-amount input::placeholder {
  color: #0097fd;
  text-align: center;
}

.Publish__form--input--terms {
  color: #0097fd;
  width: 80%;
}

.Publish__form--input--terms p {
  font-size: 100%;
  font-weight: 400;
  font-size: 0.8em;
}
#Publish__form--input--terms--item2 {
  margin-top: 10px;
}

.Publish__form--button {
  min-width: 20%;
  max-width: 170px;
  width: max-content;
  height: 50px;
  max-height: 60px;
  padding: 10px 20px;
  cursor: pointer;
  background: #0097fd;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  transition: 0.25s ease-in-out;
  animation: glow 1s alternate infinite;
}
.Publish__form--input-boxes button:disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 151, 253, 0.5);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  animation: none;
}
.Publish__form--input-boxes button:disabled .Wallet_loader {
  width: 25px;
  height: 25px;
}
.Toastify__toast-container {
  margin-top: 65px !important;
}
@keyframes glow {
  0% {
    box-shadow: 0px 0px 5px #0097fd;
  }
  100% {
    box-shadow: 0px 0px 18px #0097fd;
  }
}

@media only screen and (max-width: 767px) {
  .Publish__form {
    /* flex-direction: column;
    align-items: flex-start; */
    grid-template-columns: none;
    grid-gap: 20px;
    grid-template-rows: auto auto;
    /* height: fit-content; */
  }

  #publish-heading {
    font-size: 150%;
  }

  .Publish__form--upload {
    margin: 0;
    max-width: unset;
    width: 100%;
    align-items: center;
  }

  .Publish__form--upload-preview {
    width: 100%;
    min-width: unset;
  }

  #Publish__file--upload {
    width: 100%;
  }

  .Publish__form--upload-preview {
    width: 100%;
  }

  .Publish__form--input-boxes {
    width: 100%;
    margin-top: 20px;
  }

  .Publish__form--input-boxes input {
    width: 100%;
  }

  .Publish__form--input-boxes textarea {
    width: 100%;
  }

  .Publish__form--upload-pdf {
    min-width: unset;
  }

  .Publish__form--upload-thumbnail {
    min-width: unset;
  }

  .basic-multi-select {
    width: 100%;
  }

  .Publish__form--input--funding-toogle {
    width: 100%;
  }

  .Publish__form--input--funding-toogle h2 {
    width: 100%;
    font-size: 100%;
  }

  .Publish__form--input--funding-toogle input {
    width: fit-content;
  }

  .Publish__form--input--funding-amount {
    width: 100%;
  }

  .Publish__form--input--funding-amount h2 {
    width: 100%;
    font-size: 100%;
  }

  .Publish__form--input--funding-amount input {
    width: fit-content;
    width: 90px;
    max-width: 120px;
  }

  .Publish__form--input--terms {
    width: 100%;
  }
}

/* IPad */
@media only screen and (max-width: 900px) {
  .Publish__form--upload {
    margin-right: 30px;
    align-items: center;
  }

  .Publish__form--input-boxes input {
    width: 100%;
  }

  .Publish__form--input-boxes textarea {
    width: 100%;
  }

  .basic-multi-select {
    width: 100%;
  }

  .Publish__form {
    grid-gap: 20px;
  }

  .Publish__form--upload {
    margin-right: 0px;
  }

  .Publish__form--input--funding-amount {
    width: 100%;
  }

  .Publish__form--input--funding-amount h2 {
    width: 60%;
  }

  .Publish__form--input--funding-amount input {
    width: 40%;
  }

  .Publish__form--input--funding-toogle {
    width: 100%;
  }

  .Publish__form--input--funding-toogle input {
    width: fit-content;
  }

  .Publish__form--input--terms {
    width: 100%;
  }

  .Publish__form--input-boxes {
    grid-template-rows: auto auto 200px auto auto auto auto auto;
  }
}

@media only screen and (width: 1024px) {
  .Publish__form--input-boxes input {
    width: 90%;
  }

  .Publish__form {
    grid-gap: 10px;
  }

  .Publish__form--upload {
    align-items: center;
    margin-right: 0px;
  }

  .Publish__form--input-boxes textarea {
    width: 90%;
  }

  .basic-multi-select {
    width: 90%;
  }

  .Publish__form--input--funding-toogle {
    width: 90%;
  }

  .Publish__form--input--funding-toogle input {
    width: fit-content;
  }

  .Publish__form--input--terms {
    width: 90%;
  }

  .Publish__form--input--funding-amount {
    width: 90%;
  }

  .Publish__form--input--funding-amount h2 {
    width: 60%;
  }

  .Publish__form--input--funding-amount input {
    width: 40%;
  }

  .Publish__form--input-boxes {
    grid-template-rows: auto auto 200px auto auto auto auto auto 0.5fr;
  }
}

@media only screen and (max-width: 960px) {
  .Publish__form--upload {
    width: 100%;
  }

  #Publish__file--upload {
    width: 100%;
  }

  .Publish__form--upload-preview {
    width: 100%;
  }

  .Publish__form--input-boxes input {
    width: 100%;
  }
  .Publish__form--input--funding-amount {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
  }
  .Publish__form--input--funding-amount input {
    justify-self: flex-end;
  }
  .Publish__form--input-boxes textarea {
    width: 100%;
  }
  .basic-multi-select {
    width: 100%;
  }

  .Publish__form--input--funding-toogle {
    width: 100%;
  }
  .Publish__form--input--funding-amount {
    width: 100%;
  }
  .Publish__form--input--terms {
    width: 100%;
  }
}
