.nav__backdrop {
  top: 0;
  z-index: 999;
  position: fixed;
  background: rgba(0, 47, 80, 1);
  padding: 0px 20px 0px 20px;
  width: 100%;
}
@supports (
  (-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))
) {
  .nav__backdrop {
    background: rgba(0, 47, 80, 0.3);
    backdrop-filter: saturate(100%) blur(20px);
  }
}

nav {
  display: flex;
  align-items: center;
  height: 65px;
  margin: auto;
  max-width: 1500px;
}

nav img {
  margin-right: 20px;
  width: 50px;
  /* margin-top: 15px; */
}

.logo-navlink {
  height: 50px;
}

.paper-search {
  width: 70%;
  position: relative;
  /* margin-top: 15px; */
}

.paper-search form {
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgba(53, 162, 252, 0.34);
  border: 1px solid #0097fd;
  box-sizing: border-box;
  border-radius: 26px;
  margin: 0 auto;
}

.paper-search form svg {
  width: 20px;
  margin-left: 10px;
}

.paper-search form input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  align-self: center;
  font-size: 1rem;
}

.paper-search form input::placeholder,
select,
input:focus {
  color: #0097fd;
  font-size: 1rem;
  font-weight: bolder;
}

.nav-buttons {
  width: 30%;
  height: 50px;
  min-width: 523px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 30px;
  /* justify-content: space-around; */
  /* margin-top: 15px; */
}

.nav-buttons a {
  color: #0097fd;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.active {
  color: white;
}
#connect {
  background: #0097fd;
  /* box-shadow: 8px 12px 14px rgba(0, 151, 253, 0.19), inset 0px 4px 30px #6447f4; */
  color: white;
  /* padding: 8px 7px 8px 7px; */
  padding: 10px 15px;
  border-radius: 26px;
  transition: 0.25s ease-in-out;
  animation: glow 1s alternate infinite;
}

#publish {
  background: rgba(53, 162, 252, 0.34);
  border: 1px solid #0097fd;
  box-sizing: border-box;
  border-radius: 26px;
  color: #0097fd, 100%;
  padding: 8px 18px 8px 18px;
}

#publish:hover {
  background: rgba(53, 162, 252, 0.5);
}

#explore,
#my-papers {
  border-radius: 26px;
  padding: 12px 20px 12px 20px;
}

#explore:hover,
#my-papers:hover {
  /* color: #CECECE; */
  color: white;
}

.nav-buttons-left {
  /* width: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
}

.nav-buttons-right {
  /* width: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
}

.nav-user {
  display: flex;
  align-items: center;
}

.nav-avatar {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  margin-right: 8px;
}

.mobile__slider__toogle--search {
  display: none;
}
/*connect wallet*/
.ConnectWallet_container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 65px);
  z-index: 999;
}
.toggleoff {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  height: 100%;
}
.ConnectWallet {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: fit-content;
  background-color: #092537;
  border: 2px solid #0097fd;
  border-radius: 10px;
  padding: 20px 25px;
}
.connectwallet_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.connectwallet_text h3 {
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.3em;
}
.connectwallet_text button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.connectwallet_metamask,
.connectwallet_portis {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
  border: 2px solid rgba(0, 151, 253, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in-out;
}
.connectwallet_metamask h3,
.connectwallet_portis h3 {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.2rem;
}
.connectwallet_metamask:hover,
.connectwallet_portis:hover {
  border: 2px solid rgba(0, 151, 253, 1);
  background-color: rgba(0, 151, 253, 0.1);
}
.connectwallet_metamask img {
  width: 40px;
}
.connectwallet_portis img {
  width: 35px;
}
.ConnectWallet button:disabled {
  background-color: 2px solid rgba(0, 151, 253, 1) !important;
  opacity: 0.8;
  cursor: default;
}
.ConnectWallet button:disabled:hover {
  border: 2px solid rgba(0, 151, 253, 0.5) !important;
  cursor: default;
}
.new_eth {
  color: white;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.9em;
}
.new_eth a {
  color: #0097fd;
  text-decoration: underline;
}

.Wallet_loader {
  width: 35px;
  height: 35px;
  animation: walletLoad 900ms linear 0s infinite normal none running;
}
.Wallet_loader svg,
.Wallet_loader path {
  fill: rgba(0, 151, 253, 1);
}
.wrong_network {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  color: white;
}
.wrong_network_box {
  width: fit-content;
  height: fit-content;
  padding: 30px;
  border-radius: 15px;
  background-color: #003c65;
  border: 2px solid rgba(0, 151, 253, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrong_network_box h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 10px;
}
.wrong_network_box p {
  font-weight: 500;
  font-size: 1em;
  margin-top: 10px;
}
@keyframes walletLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  nav {
    justify-content: space-between;
  }

  .paper-search {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  nav img {
    width: 40px;
    margin-right: 0px;
  }

  .logo-navlink {
    height: 40px;
  }

  .mobile__slider__toogle--search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 30%;
    max-width: 100px;
    min-width: 100px;
  }

  .search__icon--circle {
    height: 40px;
    border: 1px solid hsla(204, 100%, 50%, 0.733);
    box-shadow: 8px 12px 14px rgba(0, 151, 253, 0.19),
      outset 0px 4px 30px #6447f4;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 99;
  }
  .search__icon--circle_cancel {
    height: 40px;
    border: 1px solid hsla(204, 100%, 50%, 0.733);
    box-shadow: 8px 12px 14px rgba(0, 151, 253, 0.19),
      outset 0px 4px 30px #6447f4;
    border-radius: 50%;
    padding: 10px 12px;
    margin-left: 10px;
    cursor: pointer;
  }
  .search__icon--circle_cancel svg {
    color: #0097fd;
  }
  .dropdown__icon--circle svg {
    width: 18px;
    height: 18px;
    font-weight: bolder;
  }

  .mobile__name-motion-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    display: grid;
    justify-content: end;
  }

  .hamburger-react {
    margin-right: 10px;
  }

  .mobile__name-motion-div-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    /* background: #fff; */
    background: linear-gradient(
      133.99deg,
      #092537 -7.04%,
      #0067ad -7.04%,
      #0061a2 -7.04%,
      #005b99 -7.04%,
      #005792 -7.04%,
      #003c65 13.92%,
      #000000 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  .nav__mobile-dropdown-navigation {
    height: 100vh;
    display: grid;
  }
  .nav__mobile-dropdown-navigation-buttons {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-gap: 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .nav__mobile-dropdown-navigation-buttons-connect-publish {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: center;
    font-size: 1rem;
  }

  .nav__mobile-dropdown-navigation-buttons a {
    color: white;
    padding: 0px;
  }

  #explore,
  #my-papers {
    padding: 0px;
  }

  .mobile__nav-dropdown-socialMedia {
    justify-self: end;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
    margin-top: 55px;
  }

  .mobile-nav-social svg {
    width: 30px;
    height: 30px;
  }
  .ConnectWallet {
    width: 80%;
    height: fit-content;
  }
  .connectwallet_metamask img,
  .connectwallet_portis img {
    width: 30px;
  }
  .display_none_metamask {
    display: none;
  }
}

/* IPad */
@media only screen and (max-width: 768px) and (min-width: 767px) {
  nav {
    justify-content: space-between;
  }

  .paper-search {
    display: none;
  }

  .nav-buttons {
    display: none;
  }

  .mobile__slider__toogle--search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 30%;
    max-width: 95px;
    min-width: 95px;
  }

  .search__icon--circle {
    height: 40px;
    border: 1px solid hsla(204, 100%, 50%, 0.733);
    box-shadow: 8px 12px 14px rgba(0, 151, 253, 0.19),
      outset 0px 4px 30px #6447f4;
    border-radius: 50%;
    padding: 10px;
  }

  .dropdown__icon--circle svg {
    width: 20px;
    height: 20px;
    font-weight: bolder;
  }

  .mobile__name-motion-nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    display: grid;
    justify-content: end;
  }

  .hamburger-react {
    margin-right: 10px;
  }

  .mobile__name-motion-div-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background: linear-gradient(
      133.99deg,
      #092537 -7.04%,
      #0067ad -7.04%,
      #0061a2 -7.04%,
      #005b99 -7.04%,
      #005792 -7.04%,
      #003c65 13.92%,
      #000000 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  .nav__mobile-dropdown-navigation {
    height: 100vh;
    display: grid;
  }
  .nav__mobile-dropdown-navigation-buttons {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-gap: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 400px;
    justify-self: center;
  }

  .nav__mobile-dropdown-navigation-buttons-connect-publish {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: center;
    font-size: 1rem;
    width: 400px;
    justify-self: end;
  }

  .nav__mobile-dropdown-navigation-buttons a {
    color: white;
    padding: 0px;
  }

  #explore,
  #my-papers {
    padding: 0px;
  }

  .mobile__nav-dropdown-socialMedia {
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    margin-top: 20px;
    justify-self: center;
  }

  .mobile-nav-social svg {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 500px) {
  .nav__mobile-dropdown-navigation-buttons {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    grid-gap: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    width: 400px;
    justify-self: center;
  }
  .mobile__nav-dropdown-socialMedia {
    justify-self: end;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    margin-top: 20px;
    justify-self: center;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 5px #0097fd;
  }
  100% {
    box-shadow: 0px 0px 18px #0097fd;
  }
}
